* {
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    color: #EDEDED;
    background-color: #1D1F20;
    margin: 0 auto;
    max-width: 48rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
}

.main-header {
    margin-bottom: 4rem;
}

.main-name h1 {
    font-weight: 400;
    margin-bottom: 8px;
}

.main-nav {
    
}

.main-nav__itens {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    padding-right: 8px;
    border-right: 1px dotted #828C79;
} 

.main-nav__last-item {
    border-right: 0;
}

.main-nav__item a {
    text-decoration: none;
    color: #828C79;
}

.main-nav__item a:hover {
    text-decoration: underline;
}