* {
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    color: #EDEDED;
    background-color: #1D1F20;
    margin: 0 auto;
    max-width: 48rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
}

section {
    display: block;
}

.main-header {
    
}


h1, h2 {
    font-weight: 900;
}
